.social {
  width: 100%;
}

.social__list {
  @include lsr;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social__link {
  color: $light-text;
  font-size: 28px;
  transition: color 0.3s;

  & span::before {
    margin: 0;
  }

  &:hover {
    color: $main-light;
  }
}
