+b.social
  +e.UL.list
    +e.LI.item
      +e.A.link(href="#", target="_blank")
        span.icon-instagram
    +e.LI.item
      +e.A.link(href="#", target="_blank")
        span.icon-facebook
    +e.LI.item
      +e.A.link(href="#", target="_blank")
        span.icon-google
    +e.LI.item
      +e.A.link(href="#", target="_blank")
        span.icon-linkedin-logo
