.footer {
  padding: 39px 15px 30px;
  background-color: $footer-bg;
  background-image:
    linear-gradient(to top, $black, transparent),
    url("../img/footer-bg.png");
  background-size: 100% 240px, cover;
  background-position: center bottom, center center;
  background-repeat: no-repeat;

  min-height: 340px;
}
