- const footerData = getData('footer')

+b.FOOTER.footer
  .container
    +e.inner
      +e.top
        +e.nav
          each item in footerData
            +e.col
              +e.H2.title= item.title
                +e.UL.list
                  each link in item.links
                    +e.LI.item
                      +e.A.link(href="#")= link
        +e.contacts
          +lnk('Узнать тариф', '#', 'footer__btn btn')
          +btn('Сделать заказ', 'button', 'btn footer__btn')
          +e.wrap
            +e.A.link(href="tel:+442077198816") +44 20 7719 8816
              +e.SPAN.link-text круглосуточно
            +e.A.link(href="#") +44 777 100 7676
              +e.SPAN.link-text Viber & WhatsUp
            include ../../blocks/social/social
      +e.bottom
        +e.P.copyright 2010-2018 &#169;Pegasus Luxury Services Ltd. Company Number: 08104782. PCO-Operator Licence: 0086810101. All rights reserved.
