extends ../layout/layout
include ../../blocks/btn/btn

block variables
  - var pageTitle = 'Главная'

block content
  include ../../blocks/header/header

  main.main

  include ../../blocks/footer/footer
