extends ../layout/layout
include ../../blocks/btn/btn
include ../../blocks/card/card

block variables
  - var pageTitle = 'Главная'

block content
  include ../../blocks/header/header

  main.main
    h1.visually-hidden pegasus luxury services
    include ../../blocks/tabs/tabs

  include ../../blocks/footer/footer
