- const tabsTitle = ['Главная', 'События', 'Экскурсии']
- const cards = getData('cards')

+b.tabs
  .container
    +e.header
      +e.UL.header-list
        each item, index in tabsTitle
          +e.LI.header-item(class= (index === 2) ? "--active" : "")
            +btn(item, 'button', 'tabs__btn')
    +e.content
      each tab, index in tabsTitle
        +e.body(class= (index === 2) ? "--active" : "")
          +e.info
            +e.P.company pegasus luxury services
            +e.H2.title= tab
            +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            +e.P.text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt.
          +e.UL.body-list
            if index === 2
              each card in cards
                +e.LI.body-item
                  +card(card)
