.nav {
  background-color: $main-dark;

  @include max($md) {
    order: 1;
  }
}

.nav__list {
  @include lsr;
  max-width: 1200px;
  padding: 11px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 13% 1fr 1fr 1fr 1fr 13%;

  @include max($md) {
    grid-template-columns: 1fr;
    padding: 20px 15px;
  }
}

.nav__item {
  position: relative;
  text-align: center;

  @include max($md) {
    padding: 5px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1px;
    height: 20px;
    background-color: rgba($white, 0.3);

    @include max($md) {
      content: none;
    }
  }

  &:first-child {
    text-align: left;

    @include max($md) {
      text-align: center;
    }
  }

  &:nth-child(6n) {
    text-align: right;

    @include max($md) {
      text-align: center;
    }

    &::after {
      content: none;
    }
  }

  &:nth-child(7n) {
    text-align: left;

    @include max($md) {
      text-align: center;
    }
  }
}

.nav__link {
  display: block;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
  font-family: "Romul", "Arial", sans-serif;
  transition: color 0.3s;
  letter-spacing: 0.36px;

  @include max(900) {
    font-size: 13px;
  }

  &:hover {
    color: $main-light;
  }
}
